/* styles.css */

body {
    margin: 0;
    font-family: pretendard;
    color: #1d1d1f;
    background-color: #EFFFE9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFFFE9;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 40px; /* 원하는 크기로 이미지 크기 설정 */
    height: auto; /* 이미지의 비율을 유지 */
    vertical-align: middle; /* 텍스트와 이미지의 세로 정렬을 맞춤 */
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 추가 */
}

.navbar .logo a {
    color: #89B873;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;

}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.nav-links li {
    margin: 15px;
    padding: 10px 20px;
}

.nav-links a {
    color: #656565;
    text-decoration: none;
    font-size: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: rgba(148, 205, 147, 0.25);
    border-radius: 30px;
    padding: 5px 20px;
    margin-left: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-input {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    color:#717171;
    width: 250px;
    background: transparent;
}


.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #555;
}

.sign-in-button {
    color: #fff;
    background-color: #4CAF4F; /* 버튼 배경색 설정 */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sign-in-button:hover {
    background-color: #3d8f3f; /* 버튼 호버 시 배경색 변경 */
}

.nav-item-right {
    margin-left: auto; /* 오른쪽으로 밀어내기 */
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    height: 450px; /* 슬라이드의 높이 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616161; /* 텍스트 색상 */
    font-size: 24px;
    font-weight: bold;
}

.slide:nth-child(1) {
    background-color: #ffffff;
}

.slide:nth-child(2) {
    background-color: #ffffff;
}

.slide:nth-child(3) {
    background-color: #ffffff;
}

.slide:nth-child(3) {
    background-color: #ffffff;
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* Additional Content Styles */
.additional-content {
    padding: 20px;
    background-color: #EFFFE9;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: space-between; /* 버튼 간 간격을 균등하게 배분 */
    padding: 20px;
    height: 250px;
}

.button {
    flex: 1; /* 버튼이 가능한 모든 공간을 차지하게 함 */
    margin: 0 10px; /* 버튼 간의 여백을 설정 */
    padding: 15px;
    background-color: #ffffff;
    color: #656565;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #c9c9c9;
}

/* Footer */
.footer {
    background-color: #B4D5A8;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}