<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Header Section -->
<header class="navbar">
    <div class="logo">
        <a href="index.html"> <!-- 로고 클릭 시 index.html로 이동 -->
            <img src="test.png"> <!-- 이미지 추가 -->
            MODUNURI
        </a>
    </div>
</header>

<!-- Log In Section -->
<div class="login-container">
    <h1>Log In</h1>
    <form action="/users/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="login-button">Log In</button>
    </form>
    <p>Don't have an account? <a href="/users/signup" class="link-to-signup">Sign Up</a></p>
</div>
</body>
</html>
