<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 계획하기</title>
    <link rel="stylesheet" th:href="@{/css/Travelplan.css}">
</head>
<body>

<!-- 여행 기록 메인 페이지-->
<!-- Main Content Section -->
<div class="main-content">
    <h2 class="title-text">지금 바로 여행 계획을 세우고, 꿈꾸던 여행지로 떠나보세요</h2>
    <p class="subtitle-text">모두누리와 함께라면 순식간에 여행 준비 끝!</p>

    <!-- Centered - container -->
    <div class="centered-container">
        <img src="center_map.png" alt="여행 이미지" class="center-image">
        <button class="main-button" id="openModalBtn">여행 계획하기</button>
    </div>


    <!-- 여행 기간 선택 페이지 -->
    <div id="durationPage" class="full-page">
        <div class="icon">
            <img src="/images/calendar-icon.png" alt="여행 기간 아이콘" class="icon-image">
        </div>
        <h2>여행 기간은?</h2>
        <p>원하는 기간을 선택해 주세요.</p>
        <div class="duration-buttons">
            <button class="duration-btn">당일치기</button>
            <button class="duration-btn">1박 2일</button>
            <button class="duration-btn">2박 3일</button>
            <button class="duration-btn">3박 4일</button>
            <button class="duration-btn">4박 5일</button>
            <button class="duration-btn">5박 6일</button>
            <button class="duration-btn">그 이상</button>
        </div>
        <button class="next-btn">다음</button>
    </div>

    <!-- 지역 선택 페이지 -->
    <div id="regionPage" class="hidden full-page">
        <h2>지역 선택</h2>
        <img src="/images/region-placeholder.png" alt="지역 이미지" class="modal-image">
        <button class="modal-btn">제주</button>
        <button class="modal-btn">서울</button>
        <button class="modal-btn">강릉</button>
        <button class="modal-btn">대구</button>
        <button class="modal-btn">광주</button>
        <button class="modal-btn">부산</button>
        <button class="modal-btn" id="backToSchedulePageBtn">뒤로 가기</button>
    </div>
    <script src="/static/script/Travelplan.js"></script>
</body>
</html>