<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Favicon.png" type="image/png"> <!-- 이미지 경로를 수정하세요 -->
    <title>모두누리</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Header Section -->
<header class="navbar">
    <div class="logo">
        <a href="/"> <!-- 로고 클릭 시 index.html로 이동 -->
            <img src="/images/MODUNURI.png" class="logo img"> <!-- 이미지 추가 -->
            <span class="a">MODUNURI</span>
        </a>
    </div>

    <nav>
        <ul class="nav-links">
            <li><a href="/touristSpot/area-search">지역 별 검색</a></li>
            <li><a href="/touristSpot/search-by-accessibility">무장애 정보 검색</a></li>
            <li><a href="/touristSpot/map">지도 보기</a></li>
            <li><a href="/touristSpot/travelplan">여행 기록하기</a></li>
            <li><a href="/community">커뮤니티</a></li>
            <!-- 로그인 상태 확인 -->
            <li class="nav-item-right">
        <span th:if="${username != null}">
        <a class="login-message" th:text="${username} + '님 안녕하세요'"></a>
        <a href="/users/mypage" class="auth-mypage">마이페이지</a>
        <a href="/users/logout" class="auth-button">로그아웃</a>
        </span>
                <span th:if="${username == null}">
        <a class="login-message">로그인을 해주세요</a>
        <a href="/users/signup" class="auth-button">회원가입</a>
        <a href="/users/login" class="auth-button">로그인</a>
    </span>
            </li>
        </ul>
    </nav>
</header>

<!-- Fullscreen Video Section -->
<section class="video-container">
    <video autoplay muted loop class="fullscreen-video">
        <source src="/video/mainvideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- 비디오 위의 텍스트 추가 -->
    <div class="video-text">
        <h1>MODUNURI</h1>
        <h3>무장애 관광 여행</h3>
    </div>

</section>

<!-- Main Content Section -->
<main>

    <!-- 화살표 이미지 추가 -->
    <div class="arrow-container hidden">
        <img src="/images/arrow1.png" alt="Arrow Down" class="arrow-icon">
    </div>


    <!-- 새로운 컨테이너: 2등분된 레이아웃 -->
    <section class="split-container">
        <div class="left-content">
            <h2>무거운 캐리어
                들고 다니는 여행 대신</h2>
            <h1>편하게 끌고 다니는 여행</h1>
        </div>
        <div class="right-content">
            <img src="/images/travelers.png" alt="Beautiful Nature" class="img-right">
        </div>
    </section>

    <!-- Additional Content Section -->
    <section class="additional-content">
        <h2>관광지 추천</h2>
        <p>모두누리가 추천하는 여행 코스</p>
    </section>

    <!-- 이미지 컨테이너 -->
    <div class="image-container">
        <img src="/images/img1.png" alt="Image 1" class="img-item hidden">
        <img src="/images/img2.png" alt="Image 2" class="img-item hidden">
        <img src="/images/img3.png" alt="Image 3" class="img-item hidden">
    </div>

    <!-- 새로운 컨테이너: 여행 문구와 버튼 -->
    <div class="travel-container hidden">
    <span th:if="${username != null}">
        <h2>모두누리와 함께 여행을 떠날 준비가 되셨나요?</h2>
        <div class="button-container">
            <a href="/touristSpot/area-search" class="action-button">지역 별 검색</a>
            <a href="/touristSpot/search-by-accessibility" class="action-button">무장애 관광 정보 검색</a>
            <a href="/touristSpot/map" class="action-button">지도 보기</a>
            <a href="/touristSpot/Travelplan" class="action-button">여행 계획하기</a>
            <a href="/users/mypage" class="action-button">마이페이지</a>
        </div>
    </span>
        <span th:if="${username == null}">
        <h2>모두누리와 여행을 함께하고 싶으시다면</h2>
        <div class="button-container">
            <a href="/users/signup" class="action-button">회원가입 하러 가기</a>
        </div>
    </span>
    </div>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer-links">
        <ul>
            <li><p>&copy; 2024 MODUNURI</p></li>

        </ul>
    </div>
</footer>


<script src="/static/script/script.js"></script>


</body>
</html>